MYSQL_DATABASE=ProductDB
MYSQL_USER=ecommerce
MYSQL_PASSWORD=change_me
MYSQL_ROOT_PASSWORD=change_me

HIBERNATE_DRIVER=com.mysql.cj.jdbc.Driver
HIBERNATE_URL=jdbc:mysql://mysql:3306/ProductDB?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
HIBERNATE_DIALECT=org.hibernate.dialect.MySQL8Dialect
HIBERNATE_SHOW_SQL=true
HIBERNATE_DDL_AUTO=none
HIBERNATE_SESSION_CONTEXT=org.springframework.orm.hibernate5.SpringSessionContext
